<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Numdays</th>
    <th>Numdevelopers</th>
    <th>Taskweight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.startDate %></td>
    <td><%= project.endDate %></td>
    <td><%= project.numDays %></td>
    <td><%= project.numDevelopers %></td>
    <td><%= project.taskWeight %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
