<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Startdate:</b>
  <%= @project.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @project.endDate %>
</p>

<p>
  <b>Numdays:</b>
  <%= @project.numDays %>
</p>

<p>
  <b>Numdevelopers:</b>
  <%= @project.numDevelopers %>
</p>

<p>
  <b>Taskweight:</b>
  <%= @project.taskWeight %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
